@model Article 


<form method="post">

    <input class="form-control" asp-for="Title" />
    <br />
    <input class="form-control" asp-for="Content" />
    <br />
    <input class="form-control" asp-for="PhotoUrl" />
    <br />
    <select name="tagIds" class="form-control" multiple>
        @foreach (var tag in ViewData["taglist"] as List<Tag>)
        {
            if (Model.ArticleTags.Select(x=>x.TagId).Contains(tag.Id))
            {
                
                <option value="@tag.Id" selected>@tag.TagName</option>
            }
            else
            {
                <option value="@tag.Id">@tag.TagName</option>

            }
        }
    </selec>
    <br />
    <input type="submit" value="Update"/>

</form>
